[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
sorl-thumbnail = "*"
tox = "*"
django-resized = "*"
django-webpack-loader = "*"
django-extensions = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
